
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

.form {
    max-width: 1000px;
    box-shadow: 0 10px 20px black;
    margin: 50px auto;
    
}
.form_header {
    background-color: aqua;
    height: 50px;
    position: relative;
}
.form_back {
    position: absolute;
    text-decoration: none;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 900;
    top: 0;
    left: 0;
}
.form_title {
    text-align: center;
    color: white;
}
body{
    background-color: #222;
    
}
.form_body {
    padding: 50px;
}
.name {
    border: 1px solid white;
    padding: 25px;
}
.frame_name{
    color: white;
}
.name_input{
    display: block;
    width:100% ;
    background-color: transparent;
    height: 60px;
    outline: none;
    border-bottom:1px solid white ;
    padding: 0 15px;
}
.gender {
    padding: 10px;
    color: white;
}
.gender_title {
    margin-bottom:10px ;
    color: white;
}
.male {
    margin-right: 15px;
}
.female {
    margin-left:15px ;
}
.age {
    color: white;
    margin: 10px 0;
}

.distipline {
    margin-bottom: 20px;
    margin-top: 10px;

}
.distipline_text {
    display: inline;
    color: white;
}
.select_distipline {
    display: inline;

}
.extra_info{
    border: 2px solid white;
    background-color: #222;
    color: white;
    outline: none;
    resize: none;
    width: 100%;
    height: 200px;
    padding: 10px;

}
.extra_info::placeholder{
    color: black;
}
.send_form {
    display: block;
    margin: auto;
    background-image:linear-gradient(cyan,rgb(10, 234, 197)) ;
    color: white;
    padding:20px;
    width: 33%;
    margin-top: 10px;

}
@media(max-width:384px){
    .form_title {
        font-size: 16px;

    }
    .form {

        margin: 20px auto;
        
    }


}